<!DOCTYPE html>
<html layout:decorate="~{base}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<div class="row mb-2" layout:fragment="content-header">
    <div class="col-sm-6">
        <h1 class="m-0 text-dark">Nilai Mahasiswa</h1>
    </div>
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Nilai Mahasiswa</a></li>
            <li class="breadcrumb-item active">Kelola</li>
        </ol>
    </div>
</div>

<div class="row" layout:fragment="content-body">


    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">List Nilai Mahasiswa</h3>
                <button class="float-right btn-primary" id="btn-tambah-biodata">Tambah</button>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive">
                <table class="table table-striped table-bordered table-hover nowrap" id="tableNilai"
                       style="width:100%"></table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->


    <div class="modal fade" id="modal-nilai">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Form Nilai Mahasiswa</h4>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-header">

                    </div>
                    <form id="form-nilai" role="form">

                        <input id="id" name="id" type="hidden">

                        <div class="form-group">
                            <label for="namaMahasiswa">Nama Mahasiswa : </label>
                            <select class="form-control" id="namaMahasiswa" name="idMahasiswa"></select>
                        </div>

                        <div class="form-group">
                            <label for="namaujian">Nama Ujian : </label>
                            <select class="form-control" id="namaUjian" name="idUjian"></select>
                        </div>

                        <div class="form-group">
                            <label>Nilai : </label>
                            <input class="form-control" id="nilai" name="nilai"
                                   placeholder="Nilai Mahasiswa" required type="text">
                        </div>



                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" id="btn-save-biodata" type="button">Save</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modal-delete">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h4> Apakah anda yakin ingin menghapus data ini ?</h4>
                    <button class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-hidden-id">
                    <p>Data ini akan hilang ketika anda menekan tombol "Delete"</p>
                    <input id="idDel" name="idDel" type="hidden" />
                    <input id="idDetail" name="idDetail" type="hidden">
                </div>
                <div class="modal-footer justify-content-between">
                    <button class="btn btn-default" data-dismiss="modal" type="button"> Close </button>
                    <button class="btn btn-danger" id="btn-delete-row" type="button"> Delete </button>
                </div>
            </div>
        </div>

    </div>

</div>


<th:block layout:fragment="add-scripts">
    <script th:src="@{/assets/js/nilai.js}"></script>

    <script>
        tableNilai.create();

        $('#btn-tambah-biodata').click(function () {
            formNilai.resetForm()
            $('#modal-nilai').modal('show')
        });

        $('#btn-save-biodata').click(function () {
            formNilai.saveForm()
        });

        $('#btn-delete-row').click(function () {
            actionDelete.deleteRowData()
        });

        dropdown.pilihMahasiswa();
        dropdown.pilihUjian();

    </script>

</th:block>

</html>